# load a `csv` file into sql

### Import the necessary libraries

In [2]:
import pymysql
import sqlalchemy as alch # python -m pip install --upgrade 'sqlalchemy<2.0'
from getpass import getpass
import pandas as pd

### Load the dataframe into pandas: call it `df_csv`

### Query the table and save it into a dataframe from Notebooks: call it `df_sql`

In [3]:
# :)

### Append the following row to the dataframe

In [ ]:
new_row = {
    "names": "New Balance 327",
    "brand": "NEW BALANCE" ,
    "price": "79.95",
    "links": "https://www.murallasport.com/producto/5578-zapatilla-converse-lift"
}

### Modify the `load_into_db` function to load `df_csv`: do it avoiding the insertion of duplicates. Choose one of the following methods:

`through python`

In [ ]:
# 1. Get the first element of the table
# 2. Create a query where you select that item from the table
# 3. Parametrize that query formatting the string
# 4. After the query is parametrized, loop the dataframe to select every row from df_csv on the database
# 5. By reading the result of the query, you should see if it exits or it doesn't

`through SQL syntax`

In [2]:
# 1. INSERT what you want to insert
# 2. WHERE what you want to insert
# 3. Is not found on a subquery 
    # 4. Where you select