# load a `csv` file into sql

### Import the necessary libraries

In [1]:
import pymysql
import sqlalchemy as alch # python -m pip install --upgrade 'sqlalchemy<2.0'
from getpass import getpass
import pandas as pd

1. FROM workbench: create a database with the name `shoes`

In [2]:
# In workbench--> CREATE DATABASE shoes;

2. Establish a connection to your database through python

In [3]:
password = getpass("Please enter your password: ")

Please enter your password: ········

3. Load the table into pandas: from the datasets folder, get the shoes csv file

In [10]:
df = pd.read_csv('data/shoes.csv')
db = "shoes"
connectionData=f"mysql+pymysql://root:{password}@localhost/{db}"
engine = alch.create_engine(connectionData)
engine

Engine(mysql+pymysql://root:***@localhost/shoes)

4. Drop un-wanted columns if they exist

In [11]:
df.drop(["Unnamed: 0"], inplace=True, axis=1)

5. Insert the `df` into your `shoes` database: use a pandas method. You'll need to use some arguments: name & con

In [13]:
df.to_sql('shoes', con=engine, if_exists='replace',chunksize=1000)
df

,names,brand,price,links
0,Zapatilla Mujer Reebok Classic Leather SP Bl...,ADIDAS,90.00,https://www.murallasport.com/producto/5477-zap...
1,Zapatilla Nike Zoom Air Fire Blanco,NIKE,119.99,https://www.murallasport.com/producto/5998-zap...
2,New Balance 530,NEW BALANCE,110.00,https://www.murallasport.com/producto/6229-new...
3,Zapatillla New Balance CT302 Beige,NEW BALANCE,110.00,https://www.murallasport.com/producto/5330-zap...
4,Zapatilla Mujer New Balance 327 Beige,NEW BALANCE,114.00,https://www.murallasport.com/producto/5473-zap...
5,New Balance 327,NEW BALANCE,120.00,https://www.murallasport.com/producto/5948-new...
6,New Balance 327,NEW BALANCE,120.00,https://www.murallasport.com/producto/5949-new...
7,New Balance 610,NEW BALANCE,120.00,https://www.murallasport.com/producto/6045-new...
8,Zapatilla Converse All Star Lift High Water-R...,CONVERSE,79.95,https://www.murallasport.com/producto/5584-zap...
9,Zapatilla Converse All Star Hi Water-Repellen...,CONVERSE,80.00,https://www.murallasport.com/producto/5853-zap...
10,Zapatilla Converse Lift Hi Suede,CONVERSE,84.95,https://www.murallasport.com/producto/5578-zap...
11,Zapatilla Converse CTAS Lugged 2.0 Hi Gris,CONVERSE,85.00,https://www.murallasport.com/producto/5586-zap...
12,Zapatilla Converse Chuck Taylor Lift Hi Marrón,CONVERSE,90.00,https://www.murallasport.com/producto/5608-zap...
13,Zapatilla Mujer Converse Move Plat Stripe Knit...,CONVERSE,95.00,https://www.murallasport.com/producto/5455-zap...
14,Zapatilla Converse Chuck Taylor All Star Lift ...,CONVERSE,95.00,https://www.murallasport.com/producto/5587-zap...
15,Zapatilla Converse Run Star Hike Hi Gris,CONVERSE,110.00,https://www.murallasport.com/producto/5387-zap...
16,Zapatilla Converse Run Star Hike Hi Marrón,CONVERSE,110.00,https://www.murallasport.com/producto/5388-zap...
17,Zapatilla Converse Lugged 2.0 Caunter Climate ...,CONVERSE,120.00,https://www.murallasport.com/producto/5927-zap...
18,Zapatilla Vans Old Skool,VANS,64.00,https://www.murallasport.com/producto/5556-zap...
19,Vans Old Skool Platform Blanco,VANS,85.00,https://www.murallasport.com/producto/6047-van...
20,Zapatilla Vans Sk8-Hi Mte-1 Negro,VANS,96.00,https://www.murallasport.com/producto/5566-zap...
21,Zapatilla Puma Carina Lift TW Blanco,PUMA,56.00,https://www.murallasport.com/producto/5581-zap...
22,Zapatilla Puma Mayze Blanco,PUMA,88.00,https://www.murallasport.com/producto/5754-zap...
23,Zapatillas Puma Rider FV Blanco,PUMA,89.95,https://www.murallasport.com/producto/5749-zap...

6. From python, query the table back and call it `queried_df`

In [14]:
df_1 = pd.read_sql_query("""
                        SELECT *
                        FROM shoes
                        ;
                        """, engine)

7. Does it look okay? You need to get rid of the index. Re-run your code with another argument to prevent that from being created

In [15]:
df_2 = pd.read_sql_query("""
                        SELECT names, brand, price, links
                        FROM shoes
                        ;
                        """, engine)

7. Now, from python, drop the database AND the table

Reminder: selecting & insertying use different methods. one uses pandas and the other one just the engine.

In [16]:
engine.execute("""
                DROP TABLE IF EXISTS shoes
""")

8. Get your code and create a function

In [20]:
def load_into_db (db, table_name, df):
    """This function should: 
    1. Establish the connection to the database
    2. Drop the database if exists and create it again
    3. Insert the table
    4. Return some feedback: how many rows where inserted or the table itself
    """
    password = getpass("Please enter your password: ")
    df = pd.read_csv('data/shoes.csv')
    db = "shoes"
    connectionData=f"mysql+pymysql://root:{password}@localhost/{db}"
    engine = alch.create_engine(connectionData)
    
    engine.execute(f"""
                DROP DATABASE IF EXISTS {db};
                """)
    engine.execute(f"""
                CREATE DATABASE {db};
                """)
    engine.execute(f"""
                USE {db};
                """)
    df.to_sql(str(table_name), con=engine, if_exists='replace',chunksize=1000, index=False)
    print(f"{len(db)} rows uploaded to {table_name} table in {db} database")
    pass

8. Try to call the function more than once. Does it work? if so, success!

In [23]:
load_into_db("shoes","shoe_data",df)

Please enter your password: ········
5 rows uploaded to shoe_data table in shoes database