# load a `csv` file into sql

### Import the necessary libraries

In [14]:
import pymysql
import sqlalchemy as alch # python -m pip install --upgrade 'sqlalchemy<2.0'
from getpass import getpass
import pandas as pd
import os

1. FROM workbench: create a database with the name `shoes`

In [15]:
# :)

2. Establish a connection to your database through python

In [16]:
password = getpass("Insert your password: ")
dbName = "shoes"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
engine

Engine(mysql+pymysql://root:***@localhost/shoes)

3. Load the table into pandas: from the datasets folder, get the shoes csv file

In [17]:
shoe_data = pd.read_csv("../lab-sql-seeding-db/shoes.csv")
shoe_data.head()

,Unnamed: 0,names,brand,price,links
0,0,Zapatilla Mujer Reebok Classic Leather SP Bl...,ADIDAS,90.00,https://www.murallasport.com/producto/5477-zap...
1,1,Zapatilla Nike Zoom Air Fire Blanco,NIKE,119.99,https://www.murallasport.com/producto/5998-zap...
2,2,New Balance 530,NEW BALANCE,110.00,https://www.murallasport.com/producto/6229-new...
3,3,Zapatillla New Balance CT302 Beige,NEW BALANCE,110.00,https://www.murallasport.com/producto/5330-zap...
4,4,Zapatilla Mujer New Balance 327 Beige,NEW BALANCE,114.00,https://www.murallasport.com/producto/5473-zap...

4. Drop un-wanted columns if they exist

In [18]:
shoe_data.drop(["Unnamed: 0"], inplace=True, axis=1)
shoe_data.head()

,names,brand,price,links
0,Zapatilla Mujer Reebok Classic Leather SP Bl...,ADIDAS,90.00,https://www.murallasport.com/producto/5477-zap...
1,Zapatilla Nike Zoom Air Fire Blanco,NIKE,119.99,https://www.murallasport.com/producto/5998-zap...
2,New Balance 530,NEW BALANCE,110.00,https://www.murallasport.com/producto/6229-new...
3,Zapatillla New Balance CT302 Beige,NEW BALANCE,110.00,https://www.murallasport.com/producto/5330-zap...
4,Zapatilla Mujer New Balance 327 Beige,NEW BALANCE,114.00,https://www.murallasport.com/producto/5473-zap...

5. Insert the `df` into your `shoes` database: use a pandas method. You'll need to use some arguments: name & con

In [19]:
shoe_data.to_sql('shoes', con=engine, if_exists='replace',chunksize=1000)

24

6. From python, query the table back and call it `queried_df`

In [24]:
queried_df = pd.read_sql_query("""
                        SELECT *
                        FROM shoes
                        ;
                        """, engine)

queried_df.head()

,index,names,brand,price,links
0,0,Zapatilla Mujer Reebok Classic Leather SP Bl...,ADIDAS,90.00,https://www.murallasport.com/producto/5477-zap...
1,1,Zapatilla Nike Zoom Air Fire Blanco,NIKE,119.99,https://www.murallasport.com/producto/5998-zap...
2,2,New Balance 530,NEW BALANCE,110.00,https://www.murallasport.com/producto/6229-new...
3,3,Zapatillla New Balance CT302 Beige,NEW BALANCE,110.00,https://www.murallasport.com/producto/5330-zap...
4,4,Zapatilla Mujer New Balance 327 Beige,NEW BALANCE,114.00,https://www.murallasport.com/producto/5473-zap...

7. Does it look okay? You need to get rid of the index. Re-run your code with another argument to prevent that from being created

In [25]:
queried_df = pd.read_sql_query("""
                        SELECT names, brand, price, links
                        FROM shoes
                        ;
                        """, engine)

queried_df.head()

,names,brand,price,links
0,Zapatilla Mujer Reebok Classic Leather SP Bl...,ADIDAS,90.00,https://www.murallasport.com/producto/5477-zap...
1,Zapatilla Nike Zoom Air Fire Blanco,NIKE,119.99,https://www.murallasport.com/producto/5998-zap...
2,New Balance 530,NEW BALANCE,110.00,https://www.murallasport.com/producto/6229-new...
3,Zapatillla New Balance CT302 Beige,NEW BALANCE,110.00,https://www.murallasport.com/producto/5330-zap...
4,Zapatilla Mujer New Balance 327 Beige,NEW BALANCE,114.00,https://www.murallasport.com/producto/5473-zap...

7. Now, from python, drop the database AND the table

Reminder: selecting & insertying use different methods. one uses pandas and the other one just the engine.

In [33]:
engine.execute("""
                DROP TABLE IF EXISTS shoes
""")

In [34]:
engine.execute("""
                DROP DATABASE IF EXISTS shoes
""")

8. Get your code and create a function

In [46]:
def load_into_db (db, table_name, df):
    """This function should: 
    1. Establish the connection to the database
    2. Drop the database if exists and create it again
    3. Insert the table
    4. Return some feedback: how many rows where inserted or the table itself
    """
    password = getpass("Insert your password: ")
    dbName = "sys"
    connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = alch.create_engine(connectionData)
    print(engine)
    engine.execute(f"""
                DROP DATABASE IF EXISTS {db};
                """)
    engine.execute(f"""
                CREATE DATABASE {db};
                """)
    engine.execute(f"""
                USE {db};
                """)
    df.to_sql(str(table_name), con=engine, if_exists='replace',chunksize=1000, index=False)
    print(f"{len(db)} rows uploaded to {table_name} table in {db} database")
    pass

8. Try to call the function more than once. Does it work? if so, success!

In [47]:
load_into_db("shoes","shoe_data",shoe_data)

Engine(mysql+pymysql://root:***@localhost/sys)
5 rows uploaded to shoe_data table in shoes database