# load a `csv` file into sql

### Import the necessary libraries

In [2]:
import pymysql
import sqlalchemy as alch # python -m pip install --upgrade 'sqlalchemy<2.0'
from getpass import getpass
import pandas as pd

1. FROM workbench: create a database with the name `shoes`

In [6]:
# CREATE DATABASE IF NOT EXISTS shoes;

2. Establish a connection to your database through python

In [3]:
password = getpass("Please enter your password: ")

In [4]:
dbName = "shoes"

In [14]:
con=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [9]:
engine = alch.create_engine(con)

In [10]:
engine

Engine(mysql+pymysql://root:***@localhost/shoes)

3. Load the table into pandas: from the datasets folder, get the shoes csv file

In [6]:
df = pd.read_csv(r'../lectures/datasets/murallas.csv')
df

,Unnamed: 0,names,brand,price,links
0,0,Zapatilla Mujer Reebok Classic Leather SP Bl...,ADIDAS,90.00,https://www.murallasport.com/producto/5477-zap...
1,1,Zapatilla Nike Zoom Air Fire Blanco,NIKE,119.99,https://www.murallasport.com/producto/5998-zap...
2,2,New Balance 530,NEW BALANCE,110.00,https://www.murallasport.com/producto/6229-new...
3,3,Zapatillla New Balance CT302 Beige,NEW BALANCE,110.00,https://www.murallasport.com/producto/5330-zap...
4,4,Zapatilla Mujer New Balance 327 Beige,NEW BALANCE,114.00,https://www.murallasport.com/producto/5473-zap...
5,5,New Balance 327,NEW BALANCE,120.00,https://www.murallasport.com/producto/5948-new...
6,6,New Balance 327,NEW BALANCE,120.00,https://www.murallasport.com/producto/5949-new...
7,7,New Balance 610,NEW BALANCE,120.00,https://www.murallasport.com/producto/6045-new...
8,8,Zapatilla Converse All Star Lift High Water-R...,CONVERSE,79.95,https://www.murallasport.com/producto/5584-zap...
9,9,Zapatilla Converse All Star Hi Water-Repellen...,CONVERSE,80.00,https://www.murallasport.com/producto/5853-zap...
10,10,Zapatilla Converse Lift Hi Suede,CONVERSE,84.95,https://www.murallasport.com/producto/5578-zap...
11,11,Zapatilla Converse CTAS Lugged 2.0 Hi Gris,CONVERSE,85.00,https://www.murallasport.com/producto/5586-zap...
12,12,Zapatilla Converse Chuck Taylor Lift Hi Marrón,CONVERSE,90.00,https://www.murallasport.com/producto/5608-zap...
13,13,Zapatilla Mujer Converse Move Plat Stripe Knit...,CONVERSE,95.00,https://www.murallasport.com/producto/5455-zap...
14,14,Zapatilla Converse Chuck Taylor All Star Lift ...,CONVERSE,95.00,https://www.murallasport.com/producto/5587-zap...
15,15,Zapatilla Converse Run Star Hike Hi Gris,CONVERSE,110.00,https://www.murallasport.com/producto/5387-zap...
16,16,Zapatilla Converse Run Star Hike Hi Marrón,CONVERSE,110.00,https://www.murallasport.com/producto/5388-zap...
17,17,Zapatilla Converse Lugged 2.0 Caunter Climate ...,CONVERSE,120.00,https://www.murallasport.com/producto/5927-zap...
18,18,Zapatilla Vans Old Skool,VANS,64.00,https://www.murallasport.com/producto/5556-zap...
19,19,Vans Old Skool Platform Blanco,VANS,85.00,https://www.murallasport.com/producto/6047-van...
20,20,Zapatilla Vans Sk8-Hi Mte-1 Negro,VANS,96.00,https://www.murallasport.com/producto/5566-zap...
21,21,Zapatilla Puma Carina Lift TW Blanco,PUMA,56.00,https://www.murallasport.com/producto/5581-zap...
22,22,Zapatilla Puma Mayze Blanco,PUMA,88.00,https://www.murallasport.com/producto/5754-zap...
23,23,Zapatillas Puma Rider FV Blanco,PUMA,89.95,https://www.murallasport.com/producto/5749-zap...

4. Drop un-wanted columns if they exist

In [8]:
df.drop(['Unnamed: 0', 'links'], axis = 1, inplace = True) 
df

                                                names        brand   price
0   Zapatilla Mujer Reebok Classic Leather SP   Bl...       ADIDAS   90.00
1               Zapatilla Nike Zoom Air Fire   Blanco         NIKE  119.99
2                                     New Balance 530  NEW BALANCE  110.00
3               Zapatillla  New Balance CT302   Beige  NEW BALANCE  110.00
4             Zapatilla Mujer New Balance 327   Beige  NEW BALANCE  114.00
5                                     New Balance 327  NEW BALANCE  120.00
6                                     New Balance 327  NEW BALANCE  120.00
7                                     New Balance 610  NEW BALANCE  120.00
8   Zapatilla  Converse All Star Lift High Water-R...     CONVERSE   79.95
9   Zapatilla  Converse All Star Hi Water-Repellen...     CONVERSE   80.00
10                   Zapatilla Converse Lift Hi Suede     CONVERSE   84.95
11      Zapatilla  Converse CTAS Lugged 2.0 Hi   Gris     CONVERSE   85.00
12  Zapatilla  Converse Chuck Taylor  Lift Hi  Marrón     CONVERSE   90.00
13  Zapatilla Mujer Converse Move Plat Stripe Knit...     CONVERSE   95.00
14  Zapatilla Converse Chuck Taylor All Star Lift ...     CONVERSE   95.00
15          Zapatilla Converse Run Star Hike Hi  Gris     CONVERSE  110.00
16       Zapatilla  Converse Run Star Hike Hi  Marrón     CONVERSE  110.00
17  Zapatilla Converse Lugged 2.0 Caunter Climate ...     CONVERSE  120.00
18                           Zapatilla Vans Old Skool         VANS   64.00
19                   Vans Old Skool Platform   Blanco         VANS   85.00
20               Zapatilla  Vans Sk8-Hi Mte-1   Negro         VANS   96.00
21            Zapatilla  Puma Carina Lift TW   Blanco         PUMA   56.00
22                     Zapatilla  Puma Mayze   Blanco         PUMA   88.00
23                 Zapatillas  Puma Rider FV   Blanco         PUMA   89.95

5. Insert the `df` into your `shoes` database: use a pandas method. You'll need to use some arguments: name & con

In [16]:
df.to_sql(con=con, name='shoes', if_exists='replace')

24

6. From python, query the table back and call it `queried_df`

In [17]:
queried_df = pd.read_sql_query("""
SELECT * 
    FROM shoes;
""", engine)

In [18]:
queried_df

,index,names,brand,price
0,0,Zapatilla Mujer Reebok Classic Leather SP Bl...,ADIDAS,90.00
1,1,Zapatilla Nike Zoom Air Fire Blanco,NIKE,119.99
2,2,New Balance 530,NEW BALANCE,110.00
3,3,Zapatillla New Balance CT302 Beige,NEW BALANCE,110.00
4,4,Zapatilla Mujer New Balance 327 Beige,NEW BALANCE,114.00
5,5,New Balance 327,NEW BALANCE,120.00
6,6,New Balance 327,NEW BALANCE,120.00
7,7,New Balance 610,NEW BALANCE,120.00
8,8,Zapatilla Converse All Star Lift High Water-R...,CONVERSE,79.95
9,9,Zapatilla Converse All Star Hi Water-Repellen...,CONVERSE,80.00
10,10,Zapatilla Converse Lift Hi Suede,CONVERSE,84.95
11,11,Zapatilla Converse CTAS Lugged 2.0 Hi Gris,CONVERSE,85.00
12,12,Zapatilla Converse Chuck Taylor Lift Hi Marrón,CONVERSE,90.00
13,13,Zapatilla Mujer Converse Move Plat Stripe Knit...,CONVERSE,95.00
14,14,Zapatilla Converse Chuck Taylor All Star Lift ...,CONVERSE,95.00
15,15,Zapatilla Converse Run Star Hike Hi Gris,CONVERSE,110.00
16,16,Zapatilla Converse Run Star Hike Hi Marrón,CONVERSE,110.00
17,17,Zapatilla Converse Lugged 2.0 Caunter Climate ...,CONVERSE,120.00
18,18,Zapatilla Vans Old Skool,VANS,64.00
19,19,Vans Old Skool Platform Blanco,VANS,85.00
20,20,Zapatilla Vans Sk8-Hi Mte-1 Negro,VANS,96.00
21,21,Zapatilla Puma Carina Lift TW Blanco,PUMA,56.00
22,22,Zapatilla Puma Mayze Blanco,PUMA,88.00
23,23,Zapatillas Puma Rider FV Blanco,PUMA,89.95

7. Does it look okay? You need to get rid of the index. Re-run your code with another argument to prevent that from being created

In [24]:
queried_df = pd.read_sql_query("""
SELECT names, brand, price
    FROM shoes;
""", engine)
queried_df

                                                names        brand   price
0   Zapatilla Mujer Reebok Classic Leather SP   Bl...       ADIDAS   90.00
1               Zapatilla Nike Zoom Air Fire   Blanco         NIKE  119.99
2                                     New Balance 530  NEW BALANCE  110.00
3               Zapatillla  New Balance CT302   Beige  NEW BALANCE  110.00
4             Zapatilla Mujer New Balance 327   Beige  NEW BALANCE  114.00
5                                     New Balance 327  NEW BALANCE  120.00
6                                     New Balance 327  NEW BALANCE  120.00
7                                     New Balance 610  NEW BALANCE  120.00
8   Zapatilla  Converse All Star Lift High Water-R...     CONVERSE   79.95
9   Zapatilla  Converse All Star Hi Water-Repellen...     CONVERSE   80.00
10                   Zapatilla Converse Lift Hi Suede     CONVERSE   84.95
11      Zapatilla  Converse CTAS Lugged 2.0 Hi   Gris     CONVERSE   85.00
12  Zapatilla  Converse Chuck Taylor  Lift Hi  Marrón     CONVERSE   90.00
13  Zapatilla Mujer Converse Move Plat Stripe Knit...     CONVERSE   95.00
14  Zapatilla Converse Chuck Taylor All Star Lift ...     CONVERSE   95.00
15          Zapatilla Converse Run Star Hike Hi  Gris     CONVERSE  110.00
16       Zapatilla  Converse Run Star Hike Hi  Marrón     CONVERSE  110.00
17  Zapatilla Converse Lugged 2.0 Caunter Climate ...     CONVERSE  120.00
18                           Zapatilla Vans Old Skool         VANS   64.00
19                   Vans Old Skool Platform   Blanco         VANS   85.00
20               Zapatilla  Vans Sk8-Hi Mte-1   Negro         VANS   96.00
21            Zapatilla  Puma Carina Lift TW   Blanco         PUMA   56.00
22                     Zapatilla  Puma Mayze   Blanco         PUMA   88.00
23                 Zapatillas  Puma Rider FV   Blanco         PUMA   89.95

7. Now, from python, drop the database AND the table

Reminder: selecting & insertying use different methods. one uses pandas and the other one just the engine.

In [27]:
pd.read_sql_query("DROP TABLE IF EXISTS shoes", engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [28]:
pd.read_sql_query("DROP database IF EXISTS shoes", engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

8. Get your code and create a function

In [ ]:
def load_into_db (db, table_name, df):
    password = getpass("Please enter your password: ")
    con=f"mysql+pymysql://root:{password}@localhost/{db}"
    pd.read_sql_query(f"DROP database IF EXISTS {db}", engine)
    pd.read_sql_query(f"CREATE database IF NOT EXISTS {db}", engine)
    df.to_sql(con=con, name=f'{table_name}', if_exists='replace')
    return f""
    """This function should: 
    1. Establish the connection to the database
    2. Drop the database if exists and create it again
    3. Insert the table
    4. Return some feedback: how many rows where inserted or the table itself
    """
    pass

In [38]:
def load_into_db (db, table_name, df):
    password = getpass("Please enter your password: ")
    con=f"mysql+pymysql://root:{password}@localhost"
    engine = alch.create_engine(con)
    engine.execute(f"DROP DATABASE IF EXISTS {db}")
    engine.execute(f"CREATE DATABASE IF NOT EXISTS {db}")
    con=f"mysql+pymysql://root:{password}@localhost/{db}"
    engine = alch.create_engine(con)
    df.to_sql(con=engine, name=f'{table_name}', if_exists='replace')
    return f"{len(df)} rows inserted in table '{table_name}' in database '{db}'"

In [40]:
load_into_db("shoes", 'shoes', df)

"24 rows inserted in table 'shoes' in database 'shoes'"

8. Try to call the function more than once. Does it work? if so, success!